<style>
  .c_breadcrumb {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .c_breadcrumb__slash {
    display: flex;
    align-items: center;
  }

  .c_bredcrumb__wrapper {
    position: absolute;
    right: 38px;
    top: 120px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    z-index: 1;
  }

  @media screen and (max-width: 750px) {
    .c_bredcrumb__wrapper {
      top: 85px;
      right: 20px;
    }
  }
  
  .c_bredcrumb__wrapper a,
  .c_bredcrumb__wrapper span {
    color: #3C3C3C;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
    transition: all .3s;
    text-decoration: none;
  }

  .breadcrumb a:hover {
      opacity: .5;
  }

  .breadcrumb__slash {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: none;
      background-image: linear-gradient(to left top, transparent 50%, #C5C5C5 50%, #C5C5C5 calc(50% + 1px), transparent calc(50% + 1px))
  }
</style>



{% if template != 'index'  %}
<div class="c_bredcrumb__wrapper" 
  {% if template contains 'product' %} style="display: none;"{% endif %}
  {% if template contains 'cart' %} style="display: none;"{% endif %}
  >
  <nav class="c_breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Home">TOP</a>

    {% if template contains 'page' %}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      <span>{{ page.title }}</span>

    {% elsif template contains 'collection' and collection.handle %}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      {% if collection.handle contains 'cat' %}
        <span>猫用ごはん</span>
      {% else %}
        <span>犬用ごはん</span>
      {% endif %}
      <!-- <span>{{ collection.title | split: '-' | last }}</span> -->
      {% endif %}

    {% elsif template == 'blog' %}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}

    {% elsif template == 'article' %}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      {{ blog.title | link_to: blog.url }}
      <span class="c_breadcrumb__slash">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
      </span>
      <span>{{ article.title }}</span>
    {% else %}
    
    <span class="c_breadcrumb__slash">
      <svg xmlns="http://www.w3.org/2000/svg" width="5" height="4" viewBox="0 0 5 4" fill="none">
        <path d="M4.5 1L2.5 3L0.5 1" stroke="#3C3C3C"/>
        </svg>
    </span>
    <span>{{ page_title }}</span>
    {% endif %}
  </nav>
</div>
{% endif %}



