{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<div class="c_header__subMenu--bg"></div>

<div class="c_header__subMenu" id="subMenuDog">
  <div class="c_header__subMenu-wrap page-width">
    <p class="c_header__subMenu-head">犬用商品</p>
    <p class="c_header__subMenu-item">
      <a href="/collections/dog-all">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
          <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
        </svg>
        <span>全ての商品</span>
      </a>
      {% assign sorted_collections = collections | sort: 'title' | reverse %}
      {% for collection in sorted_collections %}
        {% if collection.handle contains 'dog' %}
          {% unless collection.handle contains 'all' %}
          {% unless collection.handle contains 'make' %}
            {% unless collection.handle contains 'trial' %}
            {% unless collection.handle contains 'osechi' %}
            {% unless collection.handle contains 'soba' %}
          <a href="/collections/{{ collection.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>{{ collection.title | split: '-' | last }}</span>
          </a>
          {% endunless %}
          {% endunless %}
          {% endunless %}
          {% endunless %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      {% for collection in sorted_collections %}
        {% if collection.handle contains 'dog-make' %}
          <a href="/collections/{{ collection.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>{{ collection.title | split: '-' | last }}</span>
          </a>
        {% endif %}
      {% endfor %}
        <a href="/products/dog-trial-set">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>お試しセット</span>
          </a>
        <a href="/collections/dog-osechi">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>おせち</span>
          </a>
        <a href="/collections/dog-soba">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>年越しそば</span>
          </a>
    </p>
  </div>
</div>

<div class="c_header__subMenu" id="subMenuCat">
  <div class="c_header__subMenu-wrap page-width">
    <p class="c_header__subMenu-head">猫用商品</p>
    <p class="c_header__subMenu-item">
      <a href="/collections/cat-all">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
          <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
        </svg>
        <span>全ての商品</span>
      </a>
      {% assign sorted_collections = collections | sort: 'title' | reverse %}
      {% for collection in sorted_collections %}
        {% if collection.handle contains 'cat' %}
          {% unless collection.handle contains 'all' %}
          {% unless collection.handle contains 'make' %}
            {% unless collection.handle contains 'trial' %}
            {% unless collection.handle contains 'osechi' %}
            {% unless collection.handle contains 'soba' %}
          <a href="/collections/{{ collection.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>{{ collection.title | split: '-' | last }}</span>
          </a>
          {% endunless %}
          {% endunless %}
          {% endunless %}
          {% endunless %}
          {% endunless %}
        {% endif %}
      {% endfor %}
      {% for collection in sorted_collections %}
        {% if collection.handle contains 'cat-make' %}
          <a href="/collections/{{ collection.handle }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>{{ collection.title | split: '-' | last }}</span>
          </a>
        {% endif %}
      {% endfor %}
        <a href="/products/cat-trial-set">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>お試しセット</span>
          </a>
        {% comment %} <a href="/collections/cat-osechi">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>おせち</span>
          </a> {% endcomment %}
        <a href="/collections/cat-soba">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5" fill="white" stroke="#3C3C3C"/>
              <path d="M7.19995 5.39999L10.8 9.00001L7.19995 12.6" stroke="#3C3C3C"/>
            </svg>
            <span>年越しそば</span>
          </a>
    </p>
  </div>
</div>

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    <li class="c_header__item --main">
      <a href="#subMenuDog">
        <span>犬用商品</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M0 7.25H13.5" stroke="#FF7B5E" stroke-width="3"/>
          <path d="M6.75 0.5L6.75 14" stroke="#FF7B5E" stroke-width="3"/>
        </svg>
      </a>
    </li>
    <li class="c_header__item --main">
      <a href="#subMenuCat">
        <span>猫用商品</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M0 7.25H13.5" stroke="#FF7B5E" stroke-width="3"/>
          <path d="M6.75 0.5L6.75 14" stroke="#FF7B5E" stroke-width="3"/>
        </svg>
      </a>
    </li>
{% comment %}     <li class="c_header__item">
      <a href="/pages/about">マンマボーノについて</a>
    </li> {% endcomment %}
    <li class="c_header__item">
      <a href="/pages/story">マンマボーノの思い</a>
    </li>
    <li class="c_header__item">
      <a href="/pages/shop">取り扱い店舗一覧</a>
    </li>
    <li class="c_header__item">
      <a href="/pages/guide">ご利用ガイド</a>
    </li>
    <li class="c_header__item">
      <a href="/pages/contact">お問い合わせ</a>
    </li>
    <!-- {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              マンマボーノについて
            </span>
          </a>
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              取り扱い店舗一覧
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%} -->
  </ul>
</nav>
