{{ 'c_common.min.css' | asset_url | stylesheet_tag }}
{{ 'c_under.min.css' | asset_url | stylesheet_tag }}
{{ 'c_shop.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
  }
{%- endstyle -%}

<div class="c_shop__top page-width">
    <p class="c_shop__top-text">
        {{ section.settings.top_text }}
    </p>
    <a href="/pages/contact" class="c_common__btn">
        お問い合わせはこちら
    </a>
</div> 

<div class="c_shop__main page-width">
    <div class="c_shop__main-wrap">
        <h3 class="c_under__head">京都府</h3>
            {% for block in section.blocks %}
        {%- case block.type -%}
        {%- when 'shop_kyoto' -%}
        <div class="c_shop__main-item">
            <p class="c_under__sub-head">
                {{ block.settings.kyoto_head }}
            </p>
            <p class="c_under__text">
                {{ block.settings.kyoto_address }}
            </p>
            <div class="c_shop__btn-wrap">
              {% if block.settings.kyoto_web_link != blank %}
                <a href="{{ block.settings.kyoto_web_link }}">
                    <span>Web site</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
              {% endif %}}
              {% if block.settings.kyoto_google_link != blank %}
                <a href="{{ block.settings.kyoto_google_link }}">
                    <span>Google Map</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
            {% endif %}
            </div>
        </div>
        {% endcase %}
        {% endfor %}
    </div>
    <div class="c_shop__main-wrap">
        <h3 class="c_under__head">大阪府</h3>
        {% for block in section.blocks %}
        {%- case block.type -%}
        {%- when 'shop_osaka' -%}
        <div class="c_shop__main-item">
            <p class="c_under__sub-head">
                {{ block.settings.osaka_head }}
            </p>
            <p class="c_under__text">
                {{ block.settings.osaka_address }}
            </p>
            <div class="c_shop__btn-wrap">
                <a href="{{ block.settings.osaka_web_link }}">
                    <span>Web site</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
                <a href="{{ block.settings.osaka_google_link }}">
                    <span>Google Map</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endcase %}
        {% endfor %}
    </div>
    <div class="c_shop__main-wrap">
        <h3 class="c_under__head">滋賀県</h3>
        {% for block in section.blocks %}
        {%- case block.type -%}
        {%- when 'shop_siga' -%}
        <div class="c_shop__main-item">
            <p class="c_under__sub-head">
                {{ block.settings.siga_head }}
            </p>
            <p class="c_under__text">
                {{ block.settings.siga_address }}
            </p>
            <div class="c_shop__btn-wrap">
                <a href="{{ block.settings.siga_web_link }}">
                    <span>Web site</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
                <a href="{{ block.settings.siga_google_link }}">
                    <span>Google Map</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endcase %}
        {% endfor %}
    </div>
    <div class="c_shop__main-wrap">
        <h3 class="c_under__head">東京都</h3>
        {% for block in section.blocks %}
        {%- case block.type -%}
        {%- when 'shop_tokyo' -%}
        <div class="c_shop__main-item">
            <p class="c_under__sub-head">
                {{ block.settings.tokyo_head }}
            </p>
            <p class="c_under__text">
                {{ block.settings.tokyo_address }}
            </p>
            <div class="c_shop__btn-wrap">
                <a href="{{ block.settings.tokyo_web_link }}">
                    <span>Web site</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
                <a href="{{ block.settings.tokyo_google_link }}">
                    <span>Google Map</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <path d="M1 9.99998L7.42857 3.57141" stroke="#3C3C3C"/>
                        <path d="M1 1H10V10" stroke="#3C3C3C"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endcase %}
        {% endfor %}
    </div>
</div>



{% schema %}
{
    "name": "取り扱い店舗一覧",
    "settings": [
        {
        "type": "textarea",
        "id": "top_text",
        "label": "fv下テキスト",
        "default": "fv下テキスト"
        },
        {
        "type": "header",
        "content": "上下の余白"
        },
        {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "上部の余白（pc）",
        "default": 32
        },
        {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "下部の余白（PC)",
        "default": 32
        },
        {
        "type": "range",
        "id": "padding_top_sp",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "上部の余白",
        "default": 32
        },
        {
        "type": "range",
        "id": "padding_bottom_sp",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "下部の余白",
        "default": 32
        }
    ],
    "blocks" : [
        {
        "type": "shop_kyoto",
        "name": "店舗(京都)",
        "settings": [
            {
                "type": "text",
                "id": "kyoto_head",
                "label": "店舗名",
                "default": "店舗名が入ります"
            },
            {
                "type": "textarea",
                "id": "kyoto_address",
                "label": "店舗情報",
                "default": "店舗情報が入ります"
            },
            {
                "type": "url",
                "id": "kyoto_link_web",
                "label": "webサイトのリンク先"
            },
            {
                "type": "url",
                "id": "kyoto_link_google",
                "label": "Google Mapのリンク先"
            }
            ]
        },
        {
        "type": "shop_osaka",
        "name": "店舗(大阪)",
        "settings": [
            {
                "type": "text",
                "id": "osaka_head",
                "label": "店舗名",
                "default": "店舗名が入ります"
            },
            {
                "type": "textarea",
                "id": "osaka_address",
                "label": "店舗情報",
                "default": "店舗情報が入ります"
            },
            {
                "type": "url",
                "id": "osaka_link_web",
                "label": "webサイトのリンク先"
            },
            {
                "type": "url",
                "id": "osaka_link_google",
                "label": "Google Mapのリンク先"
            }
            ]
        },
        {
        "type": "shop_siga",
        "name": "店舗(滋賀)",
        "settings": [
            {
                "type": "text",
                "id": "siga_head",
                "label": "店舗名",
                "default": "店舗名が入ります"
            },
            {
                "type": "textarea",
                "id": "siga_address",
                "label": "店舗情報",
                "default": "店舗情報が入ります"
            },
            {
                "type": "url",
                "id": "siga_link_web",
                "label": "webサイトのリンク先"
            },
            {
                "type": "url",
                "id": "siga_link_google",
                "label": "Google Mapのリンク先"
            }
            ]
        },
        {
        "type": "shop_tokyo",
        "name": "店舗(東京)",
        "settings": [
            {
                "type": "text",
                "id": "tokyo_head",
                "label": "店舗名",
                "default": "店舗名が入ります"
            },
            {
                "type": "textarea",
                "id": "tokyo_address",
                "label": "店舗情報",
                "default": "店舗情報が入ります"
            },
            {
                "type": "url",
                "id": "tokyo_link_web",
                "label": "webサイトのリンク先"
            },
            {
                "type": "url",
                "id": "tokyo_link_google",
                "label": "Google Mapのリンク先"
            }
            ]
        }
    ],
    "presets":[
        {
        "name" : "取り扱い店舗一覧",
        "category": "カスタムパーツ"
        }
    ]
}
{% endschema %}