{{ 'c_common.min.css' | asset_url | stylesheet_tag }}
{{ 'c_under.min.css' | asset_url | stylesheet_tag }}
{{ 'c_story.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
  }
{%- endstyle -%}
<section class="c_story page-width" aria-label="マンマボーノのストーリー">
  <!-- 01 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story01.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">良かれと思っていたことが</h2>

    <p class="c_story__text">
      始まりは我が家の保護猫、しずかちゃん。いつもは水をちょろちょろと飲み、ごはんの器に顔をうずめる子が、なぜか近頃、食べることも飲むことも忘れてしまったかのようでした。
    </p>
    <p class="c_story__text">
      不安が胸をよぎり、動物病院へ向かいました。血液検査にエコー、レントゲン。数日後、診断の結果は、思いもよらないものでした。——癌。
    </p>
    <p class="c_story__text">
      獣医師の言葉は静かだった。「シニアには、ドライフードだけの食事が疾患の引き金になることが多いのです」それから数日後しずかちゃんは、お空に旅立ちました。
    </p>
    <p class="c_story__text">
      それまで私は、<span class="bold">総合栄養食のドライフードさえ与えていれば安心だと思っていたのに。</span>
    </p>
  </div>

  <!-- 02 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story02.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">ほんとうのごはん</h2>
    <p class="c_story__text">その日から、何が本当に安全な食事とは何かを探し始めました。</p>
    <p class="c_story__text">
      そして出会った「ペットの管理栄養士」という資格。教本の冒頭には、<span class="bold"
        >「水がなければ栄養は身体を巡らない。水がなければ、身体は毒素を出すこともできない。」</span
      >私同様の認識をお持ちの方は多いだろう。どうすれば、飼い主さんに届くのか？
      わんちゃん猫ちゃんに美味しく水分を摂れるのか。
    </p>
    <p class="c_story__text">
      考え抜いて生まれたのがマンマボーノのごはん。すべての食材は全国の生産者の方々に詳しく聞き、納得できる食材だけ取り寄せました。
    </p>
    <p class="c_story__text">もう二度と、大切な命が見えない不安で苦しまないように。</p>
  </div>

  <!-- 03 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story03.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">始めてみましょう</h2>

    <p class="c_story__text">
      人の平均寿命は80歳を超え、わんちゃんや猫ちゃんたちも、15歳という長い命を生きる時代になりました。その背景にあるのは、進化した医療、整った住環境、そして——日々の食事でした。
    </p>
    <p class="c_story__text">
      マンマボーノでは、ドライフードとウェットフードの良さを活かし、相乗効果で健康寿命を延ばすお手伝いをします。
    </p>
    <p class="c_story__text">
      高齢期に入っても病気知らずの健やかな体を育むのか、それとも病気発症後に高額な治療費をかけて対応するのか——その選択は、すべて飼い主の皆様に委ねられています。<span class="bold"
        >美味しく水分も摂れる食事を、今すぐ始めませんか。</span
      >
    </p>
  </div>

  <!-- 04 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story04.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">ドライフードの選び方</h2>
    <p class="c_story__text">
      総合栄養食のドライフードには、犬・猫に必要な栄養素がバランスよく含まれており、健康維持のために取り入れることが非常に重要です。
    </p>
    <p class="c_story__text">
      ① <span class="bold">値段ではなく原材料・メーカーの理念を確認</span>しましょう<br>
      製品の成分内容をよく読み、使用されている原料が安全であるかどうかを見極めることが大切です。
    </p>
    <p class="c_story__text">
      ② 食事の「<span class="bold">フードローテーション</span>」を取り入れましょう<br>
      主成分の異なるドライフードを2～3種類用意し、日によって与えるごはんを変えましょう。
    </p>
    <p class="c_story__text">
      ③ 飽きや<span class="bold">好みの傾向に配慮</span
      >しましょう。特にわんちゃんの場合、ドライフードは飽きて食べなくなることが多いです。
    </p>
  </div>

  <!-- 05 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story05.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">ウェットフードは低カロリー</h2>
    <p class="c_story__text">
      ドライフードの裏に書いてある給与量というものが、記載されている場合が多くあります。飼い主さんはこれを見て、計量器などで図っている方もおられると思います。
    </p>
    <p class="c_story__text">
      しかし、食欲が旺盛な子もいれば、あまり食べたがらない子もおり、画一的な目安だけで判断することは適切とは言えません。
    </p>
    <p class="c_story__text">
      カロリーに関してドライフードは一般的に100gで約350kcal、茹でたお肉などは約100～200kcal、茹で野菜は約50kcalです。ドライフードの使用量を半量に抑え、その代わりに<span class="bold"
        >肉や魚、野菜などを混ぜることで、食事全体のボリュームと満足度を高めることが可能</span
      >です。
    </p>
  </div>

  <!-- 06 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story06.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">お肉やお魚はスーパーで</h2>
    <p class="c_story__text">
      日本のスーパーマーケットに並ぶ肉類・魚貝類・鶏卵は世界的に見ても非常に高い品質を誇っております。
    </p>
    <p class="c_story__text">
      まずは、<span class="bold">牛、豚、鶏のミンチ</span>をフライパンでシンプルに炒めるだけでも、<span class="bold"
        >嗜好性の高いごはん</span
      >として仕上がります。
    </p>
    <p class="c_story__text">
      <span class="bold">お魚は旬の皮付きのものを選ぶことで風味と栄養価を両立</span
      >できます。皮面をしっかり焼き、身は軽く火を通すことで、美味しく仕上がります。
    </p>
    <p class="c_story__text">
      新鮮なたまごは、炒り卵にしたり、目玉焼きにしたりで使えます。たまごの白身は加熱する必要がありますが、非常に栄養価の高い食材です。調理道具もフライパンさえあれば出来ます。
    </p>
  </div>

  <!-- 07 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story07.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">お野菜だけは無農薬を</h2>
    <p class="c_story__text">
      野菜を与える際には「<span class="bold">無農薬野菜を選択することが不可欠</span
      >」であると、マンマボーノでは強く考えております。
    </p>
    <p class="c_story__text">
      わんちゃんや猫ちゃんの腎臓や肝臓は小さく、農薬を完全に除毒できるほど強くありません。一度悪化した腎臓や肝臓は元に戻ることはありません。
    </p>
    <p class="c_story__text">
      フードプロセッサーでみじん切りにした無農薬の野菜を少量の出汁もしくは水で2分煮ればそれだけで野菜スープが完成。
    </p>
    <p class="c_story__text">
      マンマボーノでは新鮮な旬の無農薬野菜を全国に発送しています。一番だしやチキンボーンブロスなども一緒に届くので、試してみたい方は是非オンラインで検索してください。
    </p>
  </div>

  <!-- 08 -->
  <div class="c_story__item">
    <div class="c_story__img-wrapper">
      <img class="c_story__img" src="{{ 'story08.jpg' | file_url }}" alt="" width="1600" height="900" loading="lazy">
    </div>
    <h2 class="c_story__title">最後に</h2>
    <p class="c_story__text">
      わんちゃんや猫ちゃんにとって、質の高い食事がいかに重要であるか——少しでもその意義をご理解いただけましたら、大変光栄に存じます。
    </p>
    <p class="c_story__text">
      マンマボーノでは、全国の提携ショップにて「ペットの手作りごはん教室」を随時開催しております。多くの方が「手作りは難しそう」と感じておられるかもしれませんが、実際にはフライパンと食材さえあれば10分ほどで完成する簡単な調理です。
    </p>
    <p class="c_story__text">
      この想いに、ご共感いただけましたなら幸いです。動物と飼い主様の間に、さらに多くの幸せな時間が訪れますよう——
    </p>
    <p class="c_story__text c_story__text--right">マンマボーノ代表 西川友保</p>
  </div>
</section>

{% schema %}
{
  "name": "プライバシーポリシー",
  "settings": [
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（pc）",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 32
    }
  ],
  "presets": [
    {
      "name": "プライバシーポリシー",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}
