{{ 'c_common.min.css' | asset_url | stylesheet_tag }}
{{ 'c_topBanner.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
      #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
      }
  }
{%- endstyle -%}

{%- assign banner_blocks = section.blocks | where: 'type', 'banner' -%}
{%- assign banner_count = banner_blocks.size -%}

<div class="c_topBanner">
  <style>
    .c_topBanner__wrap {
      display: {% if section.settings.enable_more_than_four and banner_count > 2 %}none{% else %}flex{% endif %};
    }
    @media screen and (max-width: 750px) {
      .c_topBanner__wrap {
        display: {% if section.settings.enable_more_than_four and banner_count > 2 %}none{% else %}flex{% endif %};
      }
    }
    .swiper-container.--topBanner {
      display: {% if section.settings.enable_more_than_four and banner_count > 2 %}block{% else %}none{% endif %};
    }
    @media screen and (max-width: 750px) {
      .swiper-container.--topBanner {
        display: {% if section.settings.enable_more_than_four and banner_count > 2 %}block{% else %}none{% endif %};
      }
    }
  </style>
  <div class="c_topBanner__wrap">
    {% for block in banner_blocks %}
      <div class="c_topBanner__img">
        <a href="{{ block.settings.banner-link }}" target="_blank">
          {{
            block.settings['banner-img']
            | image_url: width: 270, height: 135
            | image_tag: alt: block.settings['banner-img'], class: 'pc'
          }}
          {{
            block.settings['banner-img']
            | image_url: width: 400, height: 200
            | image_tag: alt: block.settings['banner-img'], class: 'sp'
          }}
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-container --topBanner">
    <div class="swiper --topBanner">
      <div class="swiper-wrapper">
        {% for block in banner_blocks %}
          <div class="swiper-slide">
            <a href="{{ block.settings.banner-link }}" target="_blank">
              {{
                block.settings['banner-img']
                | image_url: width: 270, height: 270
                | image_tag: alt: block.settings['banner-img'], class: 'pc'
              }}
              {{
                block.settings['banner-img']
                | image_url: width: 400, height: 400
                | image_tag: alt: block.settings['banner-img'], class: 'sp'
              }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-pagination-wrap">
      <div class="swiper-button-prev --topBanner">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
          <path d="M6 1L1 6L6 11" stroke="#3C3C3C"/>
        </svg>
      </div>
      <div class="swiper-pagination --topBanner"></div>
      <div class="swiper-button-next --topBanner">
        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="#3C3C3C"/>
        </svg>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "バナー",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_more_than_four",
      "label": "スライダーを使用（3枚以上で有効）",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（pc）",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 32
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "バナー画像",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner-img",
          "label": "バナー画像"
        },
        {
          "type": "url",
          "id": "banner-link",
          "label": "バナーのリンク先"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "バナー",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}
