{{ 'c_common.min.css' | asset_url | stylesheet_tag }}
{{ 'c_topFv.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
  }
{%- endstyle -%}

<div class="c_topFv">
  <img class="pc" src="{{ 'fv.webp' | file_url }}" alt="犬と猫の画像" width="1397">
  <img class="sp" src="{{ 'fv_sp.webp' | file_url }}" alt="犬と猫の画像" width="354">
  <h1 class="c_topFv-title">
    <span>{{ section.settings.title1 }}</span><br>
    <span>{{ section.settings.title2 }}</span>
  </h1>
  <a class="c_topFv__about-link" href="/pages/about">
    <img src="{{ 'about-link.png' | file_url }}" alt="マンマボーノとは" width="109">
  </a>
</div>

{% schema %}
{
  "name": "ファーストビュー",
  "settings": [
    {
      "type": "text",
      "id": "title1",
      "label": "見出し1",
      "default": "見出し1"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "見出し2",
      "default": "見出し2"
    },
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（pc）",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 32
    }
  ],
  "presets":[
    {
      "name" : "ファーストビュー",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}