{{ 'c_common.min.css' | asset_url | stylesheet_tag }}
{{ 'c_topNews.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_sp }}px;
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
  }
{%- endstyle -%}

<div class="c_topNews page-width">
    <div class="c_topNews__container">
        <div class="c_topNews__title-wrap">
            <h2 class="c_common__title --left_pc">お知らせ</h2>
            <p class="c_common__text --left_pc">NEWS</p>
        </div>
        <div class="c_topNews__wrap">
            {% for article in blogs['news'].articles limit:3 %}
            <div class="c_topNews__item">
                <div class="c_topNews__item-date">
                    <p>{{ article.published_at | date: "%Y.%m" }}</p>
                    <p>{{ article.published_at | date: "%d" }}</p>
                </div>
                <div class="c_topNews__item-wrap">
                    <p class="c_topNews__item-tag">
                        {% for tag in article.tags %}
                            {{ tag }}
                        {% endfor %}
                    </p>
                    <p class="c_topNews__item-title">{{ article.title }}</p>
                </div>
            </div>
            {% endfor %}
            <a href="" class="c_common__btn --left_pc --topNews">
                過去のお知らせはこちら
            </a>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "ニュース",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "見出し",
      "default": "見出し"
    },
    {
      "type": "header",
      "content": "上下の余白"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "上部の余白（pc）",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "下部の余白（PC)",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_top_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "上部の余白",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom_sp",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "下部の余白",
      "default": 32
    }
  ],
  "presets":[
    {
      "name" : "ニュース",
      "category": "カスタムパーツ"
    }
  ]
}
{% endschema %}